
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
@model IEnumerable<LetsPlay.Models.Post>

<h2>Index</h2>

<div>
    @foreach (var item in Model)
    {
        <div>
            <a asp-action="Details" asp-route-id="@item.ID"><h2>@Html.DisplayFor(modelItem => item.Title)</h2></a>
            <a asp-action="Details" asp-route-id="@item.ID"><p>@Html.DisplayFor(modelItem => item.Description)</p></a>
        </div>
    }
</div>