@model LetsPlay.Models.ApplicationUser
@{
    Layout = "_Layout";
}

<P>@Html.DisplayNameFor(model => model.Name)</P>
<P>@Html.DisplayNameFor(model => model.GamerTag)</P>
<P>@Html.DisplayNameFor(model => model.Age)</P>
<P>@Html.DisplayNameFor(model => model.Location)</P>