@using LetsPlay.Models
@using Microsoft.AspNetCore.Identity;
@model LetsPlay.Models.GeneralChat
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}


<h1>Let's Play!!!</h1>

<ul id="messagesList">
    @foreach (var item in ((List<GeneralChat>)ViewBag.GeneralChat))
    {
        <li>@Html.DisplayFor(modelItem => item.User): @Html.DisplayFor(modelItem => item.Message)</li>
    }
</ul>


<form method="post" id="sendButton">
    <label asp-for="User" class="control-label"></label>
    <input asp-for="User" class="form-control" id="userInput" />

    <label asp-for="Message" class="control-label"></label>
    <input asp-for="Message" class="form-control" id="messageInput" />
    <input type="submit" value="Send Message" />
</form>

@*<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            User..........<input type="text" id="userInput" />
            <br />
            Message...<input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>*@
@*<div class="row">
    <div class="col-6">&nbsp;</div>
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>*@
@*</div>
    </div>*@
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>