@using LetsPlay.Models
@using Microsoft.AspNetCore.Identity;
@model LetsPlay.Models.GeneralChat
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}


<div class="topBanner">
    <img class="logo" src="~/img/logo.png" />
</div>

<div class="homeContent">
        <h2>New Postings</h2>
        @foreach (var item in (List<Post>)ViewBag.Posts)
        {
            <div>
                <a asp-action="Details" asp-route-id="@item.ID" asp-controller="Post"><h2>@Html.DisplayFor(modelItem => item.Title)</h2></a>
                <p>@Html.DisplayFor(modelItem => item.Description)</p>
            </div>
        }
</div>