@using Microsoft.AspNetCore.Identity
@using LetsPlay.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}


<h1>Let's Play!!!</h1>

@*@section scripts
        {
        <script src="~/scripts/signalr.js"></script>
    }

    @page*@
@model IEnumerable<LetsPlay.Models.Post>

<div>
    <h2>New Postings</h2>
    @foreach (var item in Model)
    {
        <div>
            <a asp-action="Details" asp-route-id="@item.ID" asp-controller="Post"><h2>@Html.DisplayFor(modelItem => item.Title)</h2></a>
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
        </div>
    }
</div>


<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            User..........<input type="text" id="userInput" />
            <br />
            Message...<input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>